* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* background-position: top; */
}

body {
  width: 100%;
  height: 100vh;
  background: url('./img/bodyBG.jpg') center;
  background-size:cover;
  font-family: calibri;
}

section {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  padding: 20px 20px;
  margin: 0 auto;
}

section .form-group{
  width: 100%;
  text-align: center;
}

section .data-group {
  width: 100%;
  text-align: center;
  /* padding: 20px 20px; */
}


section .form-group .form-item{
  width: 100%;
  padding-top: 40px;
  color: white;
}

section .form-group .form-item input[type="text"] {
  width: 20%;
  padding: 10px 10px;
  background: grey;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  box-shadow: inset 5px 5px 10px grey;
  color: #fff;
}

section .form-group .form-item:nth-of-type(6) {
  width: 20%;
  margin: 20px auto;
  padding: 20px 0;
  /* border: 2px solid white; */
  position: relative;
}

section .form-group .form-item:nth-of-type(6)::before {
  display: block;
  content: "*";
  color: white;
  position: absolute;
  top: 2px;
  right: 0;
}

section .form-group .form-item input[type="radio"] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin: 0 10px;
}

section .form-group .form-item input[type="text"]:focus {
  border: none;
  /* border: 1px solid #f11; */
  outline: none;
  background: #555;
  box-shadow: 1px 1px 20px grey;
}

section .form-group .form-item input[placeholder]:hover {
  line-height: 1.5rem;
  font-size: 1rem;
}

section .form-group .form-item input::placeholder {
  line-height: 2.1rem;
  font-size: 1rem;
  color: white;
}

section .form-group .form-item button {
  padding: 5px 20px;
  border: 4px solid #f11;
  background: #f11;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

section .data-group .data-item,section .data-group .data-item-1 {
  padding-top: 40px;
  display: flex;
  width: inherit;
  margin: 0 auto;
}

section .data-group .data-item {
  color: #fff;
}

section .data-group .data-item span{
  width: 80%;
  height: min-content;
  display:flex;
  align-items: center;
  flex-direction: column;
  line-height: 2.1rem;
  border-bottom: 2px solid #f11;
  border-radius: 5px;
}

section .data-group .data-item-1 {
  padding-top: 20px;
  background: #fff;
}

section .data-group .data-item-1:nth-of-type(even) {
  background: lightgrey;
}

section .data-group .data-item-1 span{
  width: 80%;
  height: min-content;
  display:flex;
  align-items: center;
  flex-direction: column;
  line-height: 2.1rem;
}

p#errPara {
  border-bottom: 1px solid red;
  width: max-content;
  margin: 0px auto;
  margin-top: 10px;
  position: relative;
  transition: all 5s;
}
